extends layout

block content
	div(class='portraits-grid container-fluid')
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jackie.jpg')
				div(class='profile-card back')
					h1 Jackie, 24, Project Manager
					p When: My family came to the US in 1977.
					p Why: My grandparents came to the US for a better life, education, political reasons, and family/marriage.
					p How long: My immigration journey took 1-5 years.
					p My dream: Is to be President-Emperor of the world universe.
					p Fun Fact: My favorite short story is The Last Question by Isaac Asimov.
					p What I'm interested in: Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/pc.jpg')
				div(class='profile-card back')
					h1 PC, 24, CFO
					p When: My family came to the US in 1981.
					p Why: My mother and father came to the US from Ecuador and DR for a better life, job, and family/marriage.
					p How long: My immigration journey took less than 1 year.
					p My dream: Is to run my own company.
					p Fun Fact: I'm small, but a big attitude.
					p What I'm interested in: GoFundMe?
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/steph.jpg')
				div(class='profile-card back')
					h1 Steph, 27, Organizer
					p When: My family came to the US in 1981.
					p Why: I immigrated when I was 11 years old with my family. I am also a DACA recipient which means I still don't have status. I came here for a better life, job, and education
					p How long: My immigration journey took over 10 years.
					p My dream: Is to pass immigration reform!
					p Fun Fact: People say my laugh is funny.
					p What I'm interested in: Community
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/larry.jpg')
				div(class='profile-card back')
					h1 Larry, 23, Student Internship
					p When: N/A
					p Why: N/A
					p How long: N/A
					p My dream: Is going home and taking a shower!
					p Fun Fact: Loves taking showers.
					p What I'm interested in: Email me with news, help, or opportunities for assistance
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jessica.jpg')
				div(class='profile-card back')
					h1 Jessica, 19, Self-employed
					p When: N/A
					p Why: N/A
					p How long: N/A
					p My dream: To be employed post-grad.
					p Fun Fact: I've drowned before.
					p What I'm interested in: Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/randy.jpg')
				div(class='profile-card back')
					h1 Randy, 30, Software Engineer/Freelancer
					p When: My family came to the US in 1992.
					p Why: I was born in Haiti and my sister and I immigrated to the US in 2001. I came here for a better life, job, and education.
					p How long: My immigration journey took 6-10 years.
					p My dream: To use technology for social impact and money doing it!
					p Fun Fact: Survey says I have a wonderful smile.
					p What I'm interested in: Legal Assistance
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/eddie.jpg')
				div(class='profile-card back')
					h1 Eddie, 30, Software Engineer
					p When: My family came to the US in 2000.
					p Why: All I wanted in life is to eat as much chicken as possible because back in India there was limitations. I realized my dream after coming to America. Now I can eat as much chicken as I want. I came here for a job and education.
					p How long: My immigration journey took 6-10 years.
					p My dream: To start my own company.
					p Fun Fact: I like to rock climb.
					p What I'm interested in: Community
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/meka.jpg')
				div(class='profile-card back')
					h1 Meka, 23, Software Engineer
					p When: My family came to the US in 1910.
					p Why: My mom is from Jamaica which has affected my outlook on everything. I came here for a better life and education.
					p How long: My immigration journey took 1-5 years.
					p My dream: To start a business that creates a lot of jobs.
					p Fun Fact: I once ate so many hush puppies I ended up in the hospital.
					p What I'm interested in: Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/mohammed.jpg')
				div(class='profile-card back')
					h1 Mohammed, 19, Project Engineer Intern
					p When: My family came to the US in 1992.
					p Why: Technically I should be illegal but I am legal. I came here for a better life and education.
					p How long: My immigration journey took less than 1 year.
					p My dream: To realize my mom's dream. She wants to change the world somehow.
					p Fun Fact: I have no idea what I'm doing today!
					p What I'm interested in: Community
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/mfon.jpg')
				div(class='profile-card back')
					h1 Mfon, 22, Dishwasher
					p When: N/A
					p Why: N/A
					p How long: N/A
					p My dream: To travel the world and surf every beach (except NY).
					p Fun Fact: I love to try new food.
					p What I'm interested in: Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/john-katt.jpg')
				div(class='profile-card back')
					h1 John Katt, 23, Director of Technology
					p When: My family came to the US in 1921.
					p Why: Both sets of my grandparents immigrated. I came here to escape violence and political reasons.
					p How long: My immigration journey took less than 1 year.
					p My dream: To go to Mars.
					p Fun Fact: I used to be a farmer.
					p What I'm interested in: Community and I want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/theo.jpg')
				div(class='profile-card back')
					h1 Theo, 24, College Student
					p When: N/A
					p Why: N/A
					p How long: N/A
					p My dream: To be an engineer like my father.
					p Fun Fact: I cooked for two years in the military.
					p What I'm interested in: Want to volunteer!	
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/dara.jpg')
				div(class='profile-card back')
					h1 Dara, 31, Northeast Regional Director
					p When: My family came to the US in 1921.
					p Why: Both sets of my grandparents immigrated. I came here to escape violence and political reasons.
					p How long: My immigration journey took less than 1 year.
					p My dream: To go to Mars.
					p Fun Fact: I used to be a farmer.
					p What I'm interested in: Community and I want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/deirdre.jpg')
				div(class='profile-card back')
					h1 Deirdre, 29, Political Organizer
					pp When: My family came to the US in 1830.
					p Why: My great grandparents came from Poland 1904-1905. They moved to Penn and were coalminers, and because of that my great grandfather was able to get a good education. My mom was able to go to law school. American Dream! Had my family not been able to immigrate, we would have been involved in WWI. I came here to escape violence and for a job and a better life.
					p How long: My immigration journey took less than 1 year.
					p My dream: To run a Presidential Campaign that wins.
					p Fun Fact: I do archery!
					p What I'm interested in: Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/sarah.jpg')
				div(class='profile-card back')
					h1 Sarah, 19, Student
					p When: My family came to the US in 2000.
					p Why: Born in China and moved to the US when I was 5 and grew up here. I came here for a better life.
					p How long: My immigration journey took 1-5 years.
					p My dream: To create technology to benefit others.
					p Fun Fact: N/A
					p What I'm interested in: Community	
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/trump.jpg')
				div(class='profile-card back')
					h1 Donald, 71, President of the United States
					p When: My family came to the US in 185.
					p Why: My grandfather immigrated from Germany. I came here for a better life and political reasons.
					p How long: N/A
					p My dream: To become President of the United States.
					p Fun Fact: I used to be a real estate developer.
					p What I'm interested in: Community 
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/kim-k.jpg')
				div(class='profile-card back')
					h1 Kim, 36, Celebrity
					p When: My family came to the US in 1915.
					p Why: My family heritage is from Armenia. I came here for a better life and for political reasons.
					p How long: N/A
					p My dream: To be famous.
					p Fun Fact: I used to be a regular person.
					p What I'm interested in: Community and I want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jawharrah.jpg')
				div(class='profile-card back')
					h1 Jawharrah, 21, Student
					p When: My family came to the US in 1993.
					p Why: My father came as a refugee. I came here to escape violence and political reasons.
					p How long: My immigration journey took 1-5 years.
					p My dream: To preserve the foundation and values of the country.
					p Fun Fact: Used to be a girl scout and does a lot of sports.
					p What I'm interested in: Community