extends layout

block content
	div(class='portraits-grid container')
		div(class='row ')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jackie.jpg')
				div(class='profile-card back')
					h1 Jackie, 24, Project Manager
					p <span class='subtitle'>When:</span> My family came to the US in 1977.
					p <span class='subtitle'>Why:</span> My grandparents came to the US for a better life, education, political reasons, and family/marriage.
					p <span class='subtitle'>How long:</span> My immigration journey took 1-5 years.
					p <span class='subtitle'>My dream:</span> Is to be President-Emperor of the world universe.
					p <span class='subtitle'>Fun Fact:</span> My favorite short story is The Last Question by Isaac Asimov.
					p <span class='subtitle'>What I'm interested in:</span> Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/trump.jpg')
				div(class='profile-card back')
					h1 Donald, 71, President of the United States
					p <span class='subtitle'>When:</span> My family came to the US in 185.
					p <span class='subtitle'>Why:</span> My grandfather immigrated from Germany. I came here for a better life and political reasons.
					p <span class='subtitle'>How long:</span> N/A
					p <span class='subtitle'>My dream:</span> To become President of the United States.
					p <span class='subtitle'>Fun Fact:</span> I used to be a real estate developer.
					p <span class='subtitle'>What I'm interested in:</span> Community 
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/steph.jpg')
				div(class='profile-card back')
					h1 Steph, 27, Organizer
					p <span class='subtitle'>When:</span> My family came to the US in 1981.
					p <span class='subtitle'>Why:</span> I immigrated when I was 11 years old with my family. I am also a DACA recipient which means I still don't have status. I came here for a better life, job, and education
					p <span class='subtitle'>How long:</span> My immigration journey took over 10 years.
					p <span class='subtitle'>My dream:</span> Is to pass immigration reform!
					p <span class='subtitle'>Fun Fact:</span> People say my laugh is funny.
					p <span class='subtitle'>What I'm interested in:</span> Community
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/larry.jpg')
				div(class='profile-card back')
					h1 Larry, 23, Student Internship
					p <span class='subtitle'>When:</span> N/A
					p <span class='subtitle'>Why:</span> N/A
					p <span class='subtitle'>How long:</span> N/A
					p <span class='subtitle'>My dream:</span> Is going home and taking a shower!
					p <span class='subtitle'>Fun Fact:</span> Loves taking showers.
					p <span class='subtitle'>What I'm interested in:</span> Email me with news, help, or opportunities for assistance
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jessica.jpg')
				div(class='profile-card back')
					h1 Jessica, 19, Self-employed
					p <span class='subtitle'>When:</span> N/A
					p <span class='subtitle'>Why:</span> N/A
					p <span class='subtitle'>How long:</span> N/A
					p <span class='subtitle'>My dream:</span> To be employed post-grad.
					p <span class='subtitle'>Fun Fact:</span> I've drowned before.
					p <span class='subtitle'>What I'm interested in:</span> Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/randy.jpg')
				div(class='profile-card back')
					h1 Randy, 30, Software Engineer/Freelancer
					p <span class='subtitle'>When:</span> My family came to the US in 1992.
					p <span class='subtitle'>Why:</span> I was born in Haiti and my sister and I immigrated to the US in 2001. I came here for a better life, job, and education.
					p <span class='subtitle'>How long:</span> My immigration journey took 6-10 years.
					p <span class='subtitle'>My dream:</span> To use technology for social impact and money doing it!
					p <span class='subtitle'>Fun Fact:</span> Survey says I have a wonderful smile.
					p <span class='subtitle'>What I'm interested in:</span> Legal Assistance
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/eddie.jpg')
				div(class='profile-card back')
					h1 Eddie, 30, Software Engineer
					p <span class='subtitle'>When:</span> My family came to the US in 2000.
					p <span class='subtitle'>Why:</span> All I wanted in life is to eat as much chicken as possible because back in India there was limitations. I realized my dream after coming to America. Now I can eat as much chicken as I want. I came here for a job and education.
					p <span class='subtitle'>How long:</span> My immigration journey took 6-10 years.
					p <span class='subtitle'>My dream:</span> To start my own company.
					p <span class='subtitle'>Fun Fact:</span> I like to rock climb.
					p <span class='subtitle'>What I'm interested in:</span> Community
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/meka.jpg')
				div(class='profile-card back')
					h1 Meka, 23, Software Engineer
					p <span class='subtitle'>When:</span> My family came to the US in 1910.
					p <span class='subtitle'>Why:</span> My mom is from Jamaica which has affected my outlook on everything. I came here for a better life and education.
					p <span class='subtitle'>How long:</span> My immigration journey took 1-5 years.
					p <span class='subtitle'>My dream:</span> To start a business that creates a lot of jobs.
					p <span class='subtitle'>Fun Fact:</span> I once ate so many hush puppies I ended up in the hospital.
					p <span class='subtitle'>What I'm interested in:</span> Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/kim-k.jpg')
				div(class='profile-card back')
					h1 Kim, 36, Celebrity
					p <span class='subtitle'>When:</span> My family came to the US in 1915.
					p <span class='subtitle'>Why:</span> My family heritage is from Armenia. I came here for a better life and for political reasons.
					p <span class='subtitle'>How long:</span> N/A
					p <span class='subtitle'>My dream:</span> To be famous.
					p <span class='subtitle'>Fun Fact:</span> I used to be a regular person.
					p <span class='subtitle'>What I'm interested in:</span> Community and I want to volunteer!
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/mfon.jpg')
				div(class='profile-card back')
					h1 Mfon, 22, Dishwasher
					p <span class='subtitle'>When:</span> N/A
					p <span class='subtitle'>Why:</span> N/A
					p <span class='subtitle'>How long:</span> N/A
					p <span class='subtitle'>My dream:</span> To travel the world and surf every beach (except NY).
					p <span class='subtitle'>Fun Fact:</span> I love to try new food.
					p <span class='subtitle'>What I'm interested in:</span> Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/john-katt.jpg')
				div(class='profile-card back')
					h1 John Katt, 23, Director of Technology
					p <span class='subtitle'>When:</span> My family came to the US in 1921.
					p <span class='subtitle'>Why:</span> Both sets of my grandparents immigrated. I came here to escape violence and political reasons.
					p <span class='subtitle'>How long:</span> My immigration journey took less than 1 year.
					p <span class='subtitle'>My dream:</span> To go to Mars.
					p <span class='subtitle'>Fun Fact:</span> I used to be a farmer.
					p <span class='subtitle'>What I'm interested in:</span> Community and I want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/theo.jpg')
				div(class='profile-card back')
					h1 Theo, 24, College Student
					p <span class='subtitle'>When:</span> N/A
					p <span class='subtitle'>Why:</span> N/A
					p <span class='subtitle'>How long:</span> N/A
					p <span class='subtitle'>My dream:</span> To be an engineer like my father.
					p <span class='subtitle'>Fun Fact:</span> I cooked for two years in the military.
					p <span class='subtitle'>What I'm interested in:</span> Want to volunteer!	
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/dara.jpg')
				div(class='profile-card back')
					h1 Dara, 31, Northeast Regional Director
					p <span class='subtitle'>When:</span> My family came to the US in 1921.
					p <span class='subtitle'>Why:</span> Both sets of my grandparents immigrated. I came here to escape violence and political reasons.
					p <span class='subtitle'>How long:</span> My immigration journey took less than 1 year.
					p <span class='subtitle'>My dream:</span> To go to Mars.
					p <span class='subtitle'>Fun Fact:</span> I used to be a farmer.
					p <span class='subtitle'>What I'm interested in:</span> Community and I want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/deirdre.jpg')
				div(class='profile-card back')
					h1 Deirdre, 29, Political Organizer
					pp <span class='subtitle'>When:</span> My family came to the US in 1830.
					p <span class='subtitle'>Why:</span> My great grandparents came from Poland 1904-1905. They moved to Penn and were coalminers, and because of that my great grandfather was able to get a good education. My mom was able to go to law school. American Dream! Had my family not been able to immigrate, we would have been involved in WWI. I came here to escape violence and for a job and a better life.
					p <span class='subtitle'>How long:</span> My immigration journey took less than 1 year.
					p <span class='subtitle'>My dream:</span> To run a Presidential Campaign that wins.
					p <span class='subtitle'>Fun Fact:</span> I do archery!
					p <span class='subtitle'>What I'm interested in:</span> Want to volunteer!
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/sarah.jpg')
				div(class='profile-card back')
					h1 Sarah, 19, Student
					p <span class='subtitle'>When:</span> My family came to the US in 2000.
					p <span class='subtitle'>Why:</span> Born in China and moved to the US when I was 5 and grew up here. I came here for a better life.
					p <span class='subtitle'>How long:</span> My immigration journey took 1-5 years.
					p <span class='subtitle'>My dream:</span> To create technology to benefit others.
					p <span class='subtitle'>Fun Fact:</span> N/A
					p <span class='subtitle'>What I'm interested in:</span> Community	
		div(class='row')
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/mohammed.jpg')
				div(class='profile-card back')
					h1 Mohammed, 19, Project Engineer Intern
					p <span class='subtitle'>When:</span> My family came to the US in 1992.
					p <span class='subtitle'>Why:</span> Technically I should be illegal but I am legal. I came here for a better life and education.
					p <span class='subtitle'>How long:</span> My immigration journey took less than 1 year.
					p <span class='subtitle'>My dream:</span> To realize my mom's dream. She wants to change the world somehow.
					p <span class='subtitle'>Fun Fact:</span> I have no idea what I'm doing today!
					p <span class='subtitle'>What I'm interested in:</span> Community
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/pc.jpg')
				div(class='profile-card back')
					h1 PC, 24, CFO
					p <span class='subtitle'>When:</span> My family came to the US in 1981.
					p <span class='subtitle'>Why:</span> My mother and father came to the US from Ecuador and DR for a better life, job, and family/marriage.
					p <span class='subtitle'>How long:</span> My immigration journey took less than 1 year.
					p <span class='subtitle'>My dream:</span> Is to run my own company.
					p <span class='subtitle'>Fun Fact:</span> I'm small, but a big attitude.
					p <span class='subtitle'>What I'm interested in:</span> GoFundMe?
			div(class='portrait-card col-md-4')
				div(class='front')
					img(src='images/portraits/jawharrah.jpg')
				div(class='profile-card back')
					h1 Jawharrah, 21, Student
					p <span class='subtitle'>When:</span> My family came to the US in 1993.
					p <span class='subtitle'>Why:</span> My father came as a refugee. I came here to escape violence and political reasons.
					p <span class='subtitle'>How long:</span> My immigration journey took 1-5 years.
					p <span class='subtitle'>My dream:</span> To preserve the foundation and values of the country.
					p <span class='subtitle'>Fun Fact:</span> Used to be a girl scout and does a lot of sports.
					p <span class='subtitle'>What I'm interested in:</span> Community