doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		script(src='https://use.typekit.net/rfj2kyl.js')
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='js/bootstrap.min.js')
	body
		div(class='site-wrapper')
			div(class='header container-fluid')
				ul(class='row')
					div(class='logo col-md-3')
						a(href='/')
							img(src='images/logo-white.svg')
					div(class='col-md-5')
						nav(id="nav-bar")
							nav(id="nav-links")
								a(href='/timeline') Timeline
								a(href='/funfacts') Fun Facts
					div(class='col-md-4 tagline')
						p We are all immigrants.
			block content
		script(src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js')
		script(src='js/main.js')