body {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "franklin-gothic-urw-con-sc",sans-serif !important;
}

p{
  font-family: "franklin-gothic-urw",sans-serif !important;
}

span.subtitle{
  font-family: "franklin-gothic-urw-con-sc",sans-serif;
}

a {
  color: #00B7FF;
}

.logo img{
	 height: 80px;
}

.header{
	background-color: #022140;
  margin-bottom: 10px;
}

.footer{
  background-color: #022140;
}

.footer p{
  margin: 10px 0;
  color: #fff;
}

.tagline{
  height: auto;
  margin: 10px 0;
  padding: 0 16px;
  font-size: 22px;
  font-weight: bold;
  padding: 0 7px;
  color: #fff;
}

.tagline p{
  margin: 30px 0 0;
}

.portrait-card{
	height: 400px;
  overflow: hidden;
}

.portrait-card img{
	width: 100%;
	height: auto;
    opacity: 0.5;
}

nav a{
  margin: 50px 0 0;
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
}

.profile-card{
    background-color: #022140;
    color: #fff;
    position: absolute !important;
    font-family: "franklin-gothic-urw",sans-serif;
    padding: 20px;
}


.portrait-card img:hover{
    opacity: 1;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


.bubbleChart {
  min-width: 100px;
  max-width: 700px;
  height: 700px;
  margin: 0 auto;
}
.bubbleChart svg{
}

/*style for timeseries */
.timeseries {
    width: 100%;
    padding: 2% 0;
}
.circ {
    fill: #D35400;
    opacity: 0.6;
    stroke: rgba(211, 84, 0, 0.7);
    stroke-width: 5px;
}
.domain {
    display: none;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 12px;
}
.tick line {
    stroke: #d5d5d5;
    opacity: 0.7;
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
.clear-brush {
    display: none;
}
.brush-control {
    padding: .5%;
    width: 100%;
    text-align: center;
}
.brush-info {
    display: inline-block;
    font-size: 14px;
}